node_modules
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json
*.backup
.DS_Store
*.log
.vscode/
.idea/
*.swp